PATH=$PATH:~/dotfiles/bin:/home/kofoednielsen/.local/bin:/home/kofoednielsen/.local/share/gem/ruby/3.0.0/bin
source /usr/share/bash-completion/bash_completion
export PS1='\[\033[01;31m\]\h[\w]\[\033[00m\]$ '
export GOOGLE_APPLICATION_CREDENTIALS='/home/kofoednielsen/.gcloud/key.json'
export PASSWORD_STORE_ENABLE_EXTENSIONS=true
export XDG_CURRENT_DESKTOP=sway
export EDITOR='vim'
alias ls='ls --color=auto'
alias quit='exit'
alias get_idf='. $HOME/projects/esp-idf/export.sh'
alias kys='poweroff'
alias dc='docker-compose'
source /usr/share/nvm/init-nvm.sh
export NODE_PATH=/home/kofoednielsen/.nvm/versions/node/v14.16.1/lib/node_modules/
alias mousefix='sudo modprobe -r psmouse && sudo modprobe psmouse'
alias adbfix='adb reconnect && sleep 1 && adb reverse tcp:8081 tcp:8081'
