PATH=$PATH:~/dotfiles/bin:/home/kofoednielsen/.local/bin
export PS1='\[\033[01;31m\][\w]\[\033[00m\]$ '
export GOOGLE_APPLICATION_CREDENTIALS='/home/kofoednielsen/.gcloud/key.json'
export EDITOR='vim'
alias ls='ls --color=auto'
alias quit='exit'
alias get_idf='. $HOME/projects/esp-idf/export.sh'
alias kys='poweroff'
alias dc='docker-compose'
