source ~/.custombashrc
source /usr/share/bash-completion/bash_completion
# source ~/dotfiles/ps1.sh
export XDG_CURRENT_DESKTOP=sway
export EDITOR='vim'
alias quit='exit'
alias get_idf='. $HOME/projects/esp-idf/export.sh'
alias kys='sudo poweroff'
alias ls='ls --color=auto'
alias less='less -R'
alias dc='docker compose'
alias mousefix='sudo modprobe -r psmouse && sudo modprobe psmouse'
alias adbfix='adb reconnect && sleep 1 && adb reverse tcp:8081 tcp:8081 && adb reverse tcp:4000 tcp:4000'
export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring


if ! pgrep -u "$USER" ssh-agent > /dev/null; then
    ssh-agent -t 4h > "$HOME/.ssh-agent.env"
fi
source "$HOME/.ssh-agent.env" >/dev/null

alias dbeaver='env GDK_BACKEND=x11 dbeaver'
export PATH="$PATH:$HOME/.local/bin:$HOME/go/bin"

alias vim='nvim'
alias icat='kitty +kitten icat'

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion


source ~/jobindex-config/bash.config

# alias rm='~/dotfiles/softrm.sh'
. "$HOME/.cargo/env"
