set tabstop=8 softtabstop=0 expandtab shiftwidth=2 smarttab
set rnu
set number
set hlsearch

call plug#begin('~/.vim/plugged')
Plug 'dense-analysis/ale'
Plug 'psf/black'
Plug 'elmcast/elm-vim', {'for': 'elm'}
Plug 'zah/nim.vim'
Plug 'chemzqm/vim-jsx-improve'
Plug 'prettier/vim-prettier', { 'do': 'yarn install' }
Plug 'chrisbra/Colorizer'
call plug#end()

let g:colorizer_auto_color = 1
let g:colorizer_colornames = 0

let g:loaded_zipPlugin= 1                                               
let g:loaded_zip      = 1     
