set tabstop=8 softtabstop=0 expandtab shiftwidth=2 smarttab
set rnu
set number
set hlsearch
runtime macros/matchit.vim


if empty(glob('~/.vim/autoload/plug.vim'))
  silent !curl -fLo ~/.vim/autoload/plug.vim --create-dirs
    \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

call plug#begin('~/.vim/plugged')
Plug 'dense-analysis/ale'
Plug 'psf/black'
Plug 'elmcast/elm-vim', {'for': 'elm'}
Plug 'leafgarland/typescript-vim'
Plug 'zah/nim.vim'
Plug 'chemzqm/vim-jsx-improve'
Plug 'jparise/vim-graphql'
Plug 'prettier/vim-prettier', { 'do': 'yarn install' }
Plug 'chrisbra/Colorizer'
Plug 'neoclide/coc.nvim', {'branch': 'release'}
Plug 'vim-perl/vim-perl', { 'for': 'perl', 'do': 'make clean carp highlight-all-pragmas moose test-more try-tiny method-signatures' }
call plug#end()

nmap <silent> <C-k> <Plug>(ale_previous_wrap)
nmap <silent> <C-j> <Plug>(ale_next_wrap)

autocmd BufEnter,BufLeave *.tsx,*.css,*.config :ColorHighlight!

let g:loaded_zipPlugin= 1                                               
let g:loaded_zip      = 1     

function! Pest()
  !perl *.t | less
endfunction

:command Pest :call Pest()


command -range=% -nargs=* PerltidyCommand <line1>,<line2>!perltidy

fun Perltidy()
    let l = line(".")
    let c = col(".")
    :PerltidyCommand
    call cursor(l, c)
endfun

:command Perltidy :call Perltidy()

  let g:ale_linters = {
        \   'perl': ['null'],
        \}
